<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Collectionbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- ヘッダStart-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">CollectionBook</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/signup">会員登録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/signin">ログイン</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- ヘッダEnd-->
    <!-- 通知Start-->
    <% if flash[:success] %>
      <div class="alert alert-success" role="alert">
        <%=   flash[:success]  %>
      </div>
    <% end %>
    <!-- 通知End-->
    <!-- 警告Start-->
    <% if flash[:danger] %>
      <div class="alert alert-danger" role="alert">
        <%=   flash[:danger]  %>
      </div>
    <% end %>
    <!-- 警告End-->


    <%= yield %>

    <!-- フッダStart-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container justify-content-center">
      <p class="navbar-text">
        Copyright © 2019 Tabu All Rights Reserved.
      </p>
      </div>
    </nav>
    <!-- フッダEnd-->
  </body>
</html>
